<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
    <app-sidebar></app-sidebar> 
  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
     <app-navbar></app-navbar>
      <!-- Page content-->
      <div class="container-fluid">
          <h1 class="mt-4">Bienvenido</h1>
          <p>Bienvenido al sistema "Residencia Sueños"</p>
          <p>
              Aquí podrá gestionar la información de los residentes del lugar, alimentación, medicinas, tratamientos, médico de cabecera, información de sus familiares,etc.
              <!-- <code>#</code> -->
          </p>
      </div>
  </div>
</div>
<!-- Bootstrap core JS-->

