<h1 class="mt-4">Bienvenido</h1>
<p>Bienvenido al sistema "Residencia Sueños"</p>
<p>
  Aquí podrá gestionar la información de los residentes del lugar, alimentación,
  medicinas, tratamientos, médico de cabecera, información de sus
  familiares,etc.
  <!-- <code>#</code> -->
</p>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center mt-2">
  <ng-container *ngFor="let item of postInfo">
    <app-poster-information [titulo]="item.titulo" [valor]="item.valor" [elemento]="item.elemento" [ruta]="item.ruta"></app-poster-information>
  </ng-container>
</div>
